doctype html
html
  head
      title Lets talk about ... Machine Learning by Slava Korolev
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article
          h2 Lets Talk about...
          h1 Machine Learning
        article
          h2 Who am I to talk about ML
        article
          h2 What I'm going to talk about
          ul.build
            li What is machine learning
            li Why is it a thing now
            li Small example
        article
          h2 What is wrong with old algorithms?
        article
          h2 What has been done with old algorithm?
        article
          h2 Nuclear power plant systems
          img(src='images/nuclear.png')
        article
          h2 Spaceship systems
          img(src='images/rocket.jpg')
        article
          h2 Other amazing stuff
          img(src='images/shyftplan.svg')
        article.build
          h2 What has been done with ML algorithms?
          img(src='images/animoji.gif')
        article
          h2 Of course that's not all!
        article
          h2 Self-driving cars
          img(src='images/car.jpg')
        article
          h2 Medical Diagnosis
          img(src='images/homer.jpg')
        article
          h2 Image Recognition
          img(src='images/hotdog.png')
        article
          h1 How is it possible?
        article
          h2 How does normal algorithms work?
          ul.build
            li Input Data
            li Some rules written by humans
            li Output
        article
          h2 How does ML algorithms work?
          ul.build
            li Input Data
            li Some rules computed by other algorithms
            li Output
        article
          h1 Why is it a thing now?
        article
          h2 Four factors that hold back AI:
          ul.build
            li Compute speed
            li Data (in nice form)
            li Algorithms
            li Infrastructure
        article
          h1 Example
        article
          h2 We gonna make this snake smart
          img.vertical(src='images/snake1.gif')
        article
          h1 Surviving
        article
          h2 Simple neural network
          img.vertical(src='images/nn1.png')
        article
          h2 Simple neural network
          img.vertical(src='images/nn1-f.png')
        article.build
          h2 What we have
          img.vertical(src='images/snake2.gif')
        article
          h1 Let’s feed the snake
        article
          h2 New feature - angle to an apple
          img.vertical(src='images/snake3.png')
        article
          h2 New neural network
          img.vertical(src='images/nn2.png')
        article
          h2 Snake is great again!
          img.vertical(src='images/snake4.gif')
        article.section
          h1 Thats it
        article
          h2 Whats next?
          ul.build
            li
              a(href="https://towardsdatascience.com/today-im-going-to-talk-about-a-small-practical-example-of-using-neural-networks-training-one-to-6b2cbd6efdb3")
                | My article about using NN in a snake game
            li
              a(href="https://tamino-martinius.github.io/lets-talk-about---typescript")
                | Course about ML on Coursera
        article.section
          h1 Questions?

      script(src='scripts.js')
